@{
    Layout = "_Layout";
    ViewData["Title"] = "Registro de usuario";
}

@using SC_701_PAW_Lunes.ViewModel
@model RegisterViewModel

<div class="container m-2">

    Ya te encuentras registrado(a)?
    <a class="" href="/Account/Login">
        Inicia sesi칩n
    </a>

</div>

<h2>Registro de nuevos usuarios</h2>

<form action="/Account/Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group mb-2">
        <label asp-for="Email" class="mb-2">Correo electr칩nico</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="FullName" class="mb-2">Nombre completo</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Password" class="mb-2">Contrase침a</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="ConfirmPassword" class="mb-2">Repetir Contrase침a</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}